unclutter &
xcompmgr &
xset r rate 300 50 &
xset s off && xset -dpms
export PATH="$PATH:$(du "$HOME/.local/bin/" | cut -f2 | tr '\n' ':' | sed 's/:*$//')"
xwallpaper --zoom ~/.arch.jpg
dwmblocks &
pipewire &
export EDITOR="nvim"
xinput --disable 10
sudo sv down /etc/runit/sv/bluetooth
